.Mega>ul >li{
    padding: 0 0.4rem;
}
.Mega ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
}
.Mega input{
    width: 38px;
    padding: 5px;
    font-size: 18px;    
}